---
import { readAll } from "../lib/markdoc/read";
import { projectSchema } from "src/lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_SECONDARY_TITLE } from "../config";
import { Icons } from "src/components/Icons";

const PAGE_TITLE = "Proyectos";

const projects = await readAll({
  directory: "projects",
  frontmatterSchema: projectSchema,
});

const sortedProjects = projects
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`${PAGE_TITLE} | ${SITE_SECONDARY_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedProjects.map((project) => {
          const formattedDate = new Date(
            project.frontmatter.date
          ).toLocaleDateString("es-es", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={`project/${project.slug}`}
                  class="unset
                      transition-[background-size] duration-300 
                      bg-gradient-to-r bg-left-bottom bg-no-repeat
                      bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                      from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                    "
                >
                  <span>{project.frontmatter.title}</span>
                </a>
              </div>
              <div class="inline-grid grid-flow-col auto-cols-max gap-4">
                {project.frontmatter.technologies.map((tech) => (
                  <Icons name={tech.toLowerCase()} />
                ))}
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
<!-- <PageLayout>
  <PageMeta title={`${PAGE_TITLE} | ${SITE_SECONDARY_TITLE}`} slot="meta" />
  <section slot="main">
    <ul class="unset">
      {
        sortedProjects.map((project) => {
          const formattedDate = new Date(
            project.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start shadow-md">
              <div class="image">
                <img
                  src={project.frontmatter.image}
                  alt={project.frontmatter.title}
                  class="w-52 rounded-md"
                />
              </div>
              <div class="info grid grid-rows-[1fr] md:grid-rows-[1fr_auto] mb-3 md:gap-2 items-start">
                <div class="title">
                  <a
                    href={`project/${project.slug}`}
                    class="unset
                      transition-[background-size] duration-300 
                      bg-gradient-to-r bg-left-bottom bg-no-repeat
                      bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                      from-primary-green to-primary-green dark:from-primary-green dark:to-primary-green
                    "
                  >
                    <span>{project.frontmatter.title}</span>
                  </a>
                </div>
                <div class="text-text-muted text-sm italic pt-1">
                  <time datetime={project.frontmatter.date.toISOString()}>
                    {formattedDate}
                  </time>
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout> -->
