---
import { Icon } from "astro-icon";
import Section from "./Section.astro";
const projects = await Astro.glob("../content/projects/*.md");
const sortedProjects = [...projects].sort(
  (p1, p2) => p2.frontmatter.timestamp - p1.frontmatter.timestamp
);
---

<Section id="portfolio" class="w-full text-gray-500 md:h-screen">
  <div
    class="max-w-screen-lg p-4 mx-auto flex flex-col justify-center w-full h-full"
  >
    <div class="pb-8">
      <p class="text-4xl font-bold inline border-b-4 border-gray-500">
        Portafolio
      </p>
      <p class="py-6 font-bold text-xl">
        Estos son algunos de mis proyectos. Puedes hacer click en ellos para
        conocer más acerca de su desarrollo.
      </p>
    </div>
    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-center py-8 px-12 sm:px-0"
    >
      {
        sortedProjects.slice(0, 6).map((project) => {
          return (
            <article class="rounded-md shadow-md shadow-gray-500 duration-500 hover:scale-105">
              <a href={`/project/${project.frontmatter.slug}`}>
                <img
                  class="rounded-md"
                  src={project.frontmatter.image}
                  alt={project.frontmatter.title}
                />
              </a>

              <div class="items-center justify-evenly bg-gray-500/50 rounded-b-md hidden">
                {project.frontmatter.demo && (
                  <a
                    href={project.frontmatter.apiSourceCode}
                    class="group pt-4 duration-200 hover:scale-105 flex flex-col items-center"
                  >
                    <Icon name="mdi:earth" size={25} />
                    <span class="opacity-0 group-hover:opacity-100 duration-200 text-center text-xs md:text-base text-white">
                      Demo
                    </span>
                  </a>
                )}

                {project.frontmatter.apiSourceCode && (
                  <a
                    href={project.frontmatter.apiSourceCode}
                    class="group pt-4 duration-200 hover:scale-105 flex flex-col items-center"
                  >
                    <Icon name="mdi:source-branch" size={25} />
                    <span class="opacity-0 group-hover:opacity-100 duration-200 text-center text-xs md:text-base text-white">
                      Backend
                    </span>
                  </a>
                )}

                {project.frontmatter.sourceCode && (
                  <a
                    href={project.frontmatter.sourceCode}
                    class="group pt-4 duration-200 hover:scale-105 flex flex-col items-center"
                  >
                    <Icon name="mdi:source-branch" size={25} />
                    <span class="opacity-0 group-hover:opacity-100 duration-200 text-center text-xs md:text-base text-white">
                      Código
                    </span>
                  </a>
                )}

                {project.frontmatter.frontSourceCode && (
                  <a
                    href={project.frontmatter.frontSourceCode}
                    class="group pt-4 duration-200 hover:scale-105 flex flex-col items-center"
                  >
                    <Icon name="mdi:source-branch" size={25} />
                    <span class="opacity-0 group-hover:opacity-100 duration-200 text-center text-xs md:text-base text-white">
                      Frontend
                    </span>
                  </a>
                )}
              </div>
            </article>
          );
        })
      }
    </div>
  </div>
</Section>

<script>
  /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
  particlesJS.load("portfolio", "/js/particles.json", function () {
    console.log("callback - particles-js config loaded");
  });
</script>

<style>
  [astro-icon] {
    color: white;
  }
</style>
